<?xml version="1.0"?>
<launch>

	<group ns="base">
		<node pkg="rosbag" type="play" name="f9p" args="--clock $(find cell_estimator)/bags/base2.bag"/>
	</group>

	<!-- <group ns="rover"> -->
		<!-- <node pkg="rosbag" type="play" name="f9p" args="dashdashclock $(find cell_estimator)/bags/rover6.bag"/> -->
	<!-- </group> -->

	<!-- <node pkg="rosbag" type="play" name="cell_data" args="dashdashclock $(find cell_estimator)/bags/cell6.bag"/> -->

	<node pkg="rosbag" type="play" name="data" args="--clock $(find cell_estimator)/bags/truncate2.bag"/>

	<node name="cell" pkg="cell_estimator" type="cell_ros.py" output="screen"/>

	<node name="estimator" pkg="cell_estimator" type="estimator_ros.py" output="screen">
		<param name="path" value="$(find cell_estimator)"/>
	</node>

	<node name="live_plotter" pkg="cell_estimator" type="livePlotter.py" output="screen">
		<param name="path" value="$(find cell_estimator)"/>
	</node>

</launch>
